{
  "Logging": {
    "LogLevel": {
      "Default": "Trace",
      "Microsoft": "Information",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*",
  "Config": {
    "//TicketOrders": "可以放多筆訂位代號",
    "TicketOrders": [
      {
        "IDCard": "身份證字號",
        "OrderId": "訂位代號",
        "//TargetDate": "目標出發時間，如果日期or時間留空程式就不會訂該程的票，例如我把去程的日期時間留空，只填回程，就只會訂回程的票",
        "TargetDate": {
          "TripToDate": "預計出發日期 格式yyyy/mm/dd",
          "TripToTime": "去程的預計出發時間 格式(HH:MM) 每30分鐘為單位，24hr制，ex 00:00、 05:00、 12:30、 17:30、 22:00",
          "TripBackDate": "預計回程日期 格式yyyy/mm/dd",
          "TripBackTime": "回程的預計出發時間，格式同上"
        }
      },
      {
        "IDCard": "",
        "OrderId": "",
        "//TargetDate": "",
        "TargetDate": {
          "TripToDate": "",
          "TripToTime": "",
          "TripBackDate": "",
          "TripBackTime": ""
        }
      }

    ],
    "//IsEnableSchedule": "是否啟動排程",
    "IsEnableSchedule": true,
    "//MaxETA": "該車次最大的行車時間，單位(分鐘)，設太小的話會搜尋不到車次",
    "MaxETA": 120
  }
}