{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*",
  "Config": {
    "TicketOrders": [
      {
        "IDCard": "身份證字號",
        "OrderId": "訂位代號"
      }
    ],
    "IsEnableSchedule": true
  }
}