<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogToConsole="true"
      internalLogLevel="info">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <target encoding="utf-8" xsi:type="File" name="debug-all"
            fileName="${basedir}/logs/log.${level}.${shortdate}.txt"
            archiveAboveSize="10240"
            archiveNumbering="Sequence"
            maxArchiveFiles="4"
            archiveFileName="${basedir}/logs/archives/${level}/log.{#####}.txt"
            layout="[${time}][${logger}][${level}] - ${message} ${onexception:inner=${newline}${exception:format=ToString}}" />
    <target name="Console" xsi:type="Console"  layout="${shortdate} ${level} ${message}"/>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Debug" writeTo="debug-all" />
    <logger name="*" minlevel="Info" writeTo="Console" />
  </rules>
</nlog>